<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Nexvista</title>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com" rel="preconnect"/>
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous"/>
</head>
<body class="relative min-h-[540px]" style="background-image: url('images/cx 6.png'); background-position: 0 0, 38%;">
  <!-- Add a dark overlay -->
  <div class="absolute inset-0 bg-black opacity-80"></div>
    <!-- Main Content -->
    <div class="relative z-20 text-center mt-20 px-10">
      <h1 class="text-5xl text-white font-bold mb-5" style="font-family: 'Lato', sans-serif;">Launching Soon!</h1>
      <div class="max-w-3xl mx-auto">
        <p class="text-base text-white mb-3" style="font-family: 'Lato', sans-serif;">
          We're working hard behind the scenes to bring you the future of CX.<br>Stay tuned for our official launch!<br/><br/>Join the Waitlist or Get Notified When We Launch
        </p>
        <a href="/contact" class="inline-block bg-transparent border border-white text-white uppercase rounded px-4 py-2 hover:bg-white hover:text-black transition duration-200" style="font-family: 'Open Sans', sans-serif;">Click here</a>
      </div>
    </div>

    <!-- Social Media Section -->
    <section class="mt-20 flex space-x-4 justify-center relative z-20">
      <a href="#www.facebook.com">
        <img src="images/facebook.png" loading="lazy" width="20" alt="facebook icon"/>
      </a>
      <a href="#www.twitter.com">
        <img src="images/twitter.png" loading="lazy" width="20" alt="twitter icon"/>
      </a>
      <a href="#www.instagram.com">
        <img src="images/instagram.png" loading="lazy" width="20" alt="instagram icon"/>
      </a>
    </section>
</body>
</html>